<div class="contents row">
  <div class="devise-view-contents row">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name %> <em>(15 characters maximum)</em><br />
        <%= f.text_field :name, autofocus: true, placeholder: 'ユーザー名を入力(必須)' %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, placeholder: 'emailアドレスを入力(必須)' %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: 'パスワードを入力(必須)' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'もう一度パスワードを入力(必須)' %>
      </div>
      
      <div class="field">
      <%= f.file_field :avatar %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", data: { confirm: "画像のアップロードはちゃんとされましたか? 今一度ご確認ください。画像のアップロードをしないと、エラーになる可能性があります。" } %>
      </div>
    <% end %>

    <!-- <%= render "devise/shared/links" %> -->
    <div class="login-code-index">
      <p class="login-code-index-title">新規登録を行う際は、必ずアカウント画像のアップロードをしていただくようお願い致します。(画像アップロードしていないにより、エラーが発生する場合があるため)</p>
  </div>
</div>