<div class="contents">
  <div class="message clearfix">
    <% if current_user.avatar && current_user.id == @tweet.user_id %>
      <%= image_tag  current_user.avatar %>
    <% elsif @tweet.user.avatar.record.id == @tweet.user_id %>
      <%= image_tag  @tweet.user.avatar %>
    <% else %>
      <%= image_tag 'デフォルトの画像.png' %>
    <% end %>
        <% if user_signed_in? && current_user.id == @tweet.user_id %>
          <li>
            <%= link_to '編集', "/tweets/#{@tweet.id}/edit", method: :get %>
          </li>
          <li>
            <%= link_to '削除', "/tweets/#{@tweet.id}", method: :delete %>
          </li>
        <% end %>
    <div class="message_box">
    <p class="user_name"><%= @tweet.user.name %><span class="time"><%= @tweet.created_at %></span></p>
      <p class="text">
        <%= @tweet.text %>
      </p>
    </div>
  </div>
<!-- コメント入力フォーム -->
  <div class="container">
    <% if current_user %>
      <%= form_for( [@tweet, @comment], id: "new_comment" ) do |f| %>
        <%= f.text_area :text, placeholder: "text", :class=>"textbox" %>
        <%= f.submit "送信", :class=>"btn"%> 
      <% end %>
    <% end %>
<!-- コメント一覧表示 -->
    <div class="comments">   
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <div class="comment">
            <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
            <% if user_signed_in? && current_user.id == comment.user_id %>
            <li>
              <%= link_to '編集', "/tweets/#{@tweet.id}/comments/#{comment.id}/edit", method: :get %>
            </li>
            <li>
              <%= link_to '削除', "/tweets/#{@tweet.id}/comments/#{comment.id}", method: :delete %>
            </li>
          </div>
            <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
