<div class="contents">
  <div class="message clearfix">
  <!-- avatar画像表示の条件分岐 -->
    <% if user_signed_in? %>
      <% if current_user.avatar && current_user.id == @tweet.user_id %>
        <%= image_tag  current_user.avatar ,class:"user_avatar"%>
      <% elsif @tweet.user.avatar.attachment == nil %>
        <%= image_tag 'デフォルトの画像.png' ,class:"user_avatar"%>
      <% else @tweet.user.avatar.record.id == @tweet.user_id %>
        <%= image_tag  @tweet.user.avatar ,class:"user_avatar"%>
      <% end %>
    <% else %>
      <% if @tweet.user.avatar.attachment == nil %>
        <%= image_tag 'デフォルトの画像.png' ,class:"user_avatar"%>
      <% else @tweet.user.avatar.record.id == @tweet.user_id %>
        <%= image_tag  @tweet.user.avatar ,class:"user_avatar"%>
      <% end %>
    <% end %>
        <% if user_signed_in? && current_user.id == @tweet.user_id %>
          <li>
            <%= link_to '編集', "/tweets/#{@tweet.id}/edit", method: :get %>
          </li>
          <li>
            <%= link_to '削除', "/tweets/#{@tweet.id}", method: :delete, data: { confirm: '本当に削除してもよろしいでしょうか?' } %>
          </li>
        <% end %>
    <div class="message_box">
    <p class="user_name"><%= @tweet.user.name %><span class="time"><%= @tweet.created_at %></span></p>
      <p class="text">
        <%= @tweet.text %>
      </p>
    </div>
  </div>
<!-- コメント入力フォーム -->
  <div class="container">
    <% if current_user %>
    <h4>＜コメントできます！！＞</h4>
      <%= form_for( [@tweet, @comment], id: "new_comment" ) do |f| %>
        <%= f.text_area :text, placeholder: "text", :class=>"textbox" %>
        <%= f.submit "送信", :class=>"btn"%> 
      <% end %>
    <% end %>
<!-- コメント一覧表示 -->
      <h4>＜コメント一覧＞</h4>
      <div class="comments">
        <% if @comments %>
          <% @comments.each do |comment| %>
            <div class="comment" id="comment" data-comment-id=<%="#{comment.id}"%> data-tweet-id=<%="#{@tweet.id}" %>>
              <strong>
                <%= link_to comment.user.name, "/users/#{comment.user_id}" %>
              </strong>
                ：
              <%= comment.text %>
              <% if user_signed_in? && current_user.id == comment.user_id %>
              <li>
                <%= link_to '編集', "/tweets/#{@tweet.id}/comments/#{comment.id}/edit", method: :get %>
              </li>
              <li>
                <%= link_to '削除', "/tweets/#{@tweet.id}/comments/#{comment.id}", method: :delete, data: { confirm: '本当に削除してもよろしいでしょうか?' } %>
              </li>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
