<!DOCTYPE html>
<html>
  <head>
    <title>mini_app</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="header__bar row">
      <h1><%= link_to "miniちゃんねる","/", method: :get %></h1>
      <% if user_signed_in? %>
        <h2>
          <%= link_to "アカウント編集",edit_user_path(current_user), method: :get ,class:"user_edit_button" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <a class="post_button" href="/tweets/new">投稿する</a>
          <%= link_to "一覧画面へ戻る","/", method: :get %>
        </h2>
        <h3>
          <div class="user__avatar clearfix">
            <% if current_user %>
              <%= image_tag  current_user.avatar ,class:"current__user__avatar"%>
            <% end %>
            <!-- avatarがないユーザーでエラーにならないようにする条件式 のちのメンテナンス用
            <% if current_user.avatar.attachment == nil %>
              <%= image_tag 'デフォルトの画像.png' ,class:"current__user__avatar"%>
            <% else %>
              <%= image_tag current_user.avatar ,class:"current__user__avatar"%>
            <% end %> -->
          </div>
          <span><%= current_user.name %>
            <a href="/users/<%= current_user.id %>">マイページへ</a>
          </span>
        </h3>
      <% else %>
        <h2>
          <%= link_to "ログイン", new_user_session_path, class: 'post' %>
          <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
          <%= link_to "一覧画面へ戻る","/", method: :get %>
        </h2>
      <% end %>
<!-- 検索窓の設置 -->
      <div class="search-contents">
        <%= form_tag('/users/search', method: :get, class:'search_form') do %>
          <input class="search__query" name="keyword" placeholder="ユーザー名で検索" type="text" value="">
          <button class="btn-search" title="検索" type="submit" >検索</button>
          </input>
        <% end %>
      </div>
      <div class="append-search-user"></div>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>

